html,body{
	width: 100%;
	height: 100%;
	background: #666666;
	font-family: "KaiTi";
}
.box{
	width: 100%;
	height: 100%;
	position: relative;
	perspective:1000px;
}
.box .bg{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.box .bg .page{
	width: 100%;
	height: 100%;
	transform-origin:0 0;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
	position: relative;
	/*transform: rotatex(-30deg);*/
}

.page1 .tlt{
	position: absolute;
	z-index: 9;
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 50px;
	top: 10%;
	letter-spacing: 10px;
	opacity: 1;
	animation:dong1 2s ease 0s;
}
@-webkit-keyframes dong1{
	from{
		letter-spacing: 100px;
		opacity: 0;
	}
	to{
		letter-spacing: 10px;
		opacity: 1;
	}
}
.page1 .xix{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 30%;
}
.page1 .xix .tou{
	width: 100px;
	height: 100px;
	opacity: 0;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	animation:dong4 2s ease 3s forwards;
}
@-webkit-keyframes dong4{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.page1 .xix:before{
	content: "";
	width: 800px;
	height: 5px;
	background: #ffffff;
	position: absolute;
	left: 0;
	opacity: 0;
	margin-left: -870px;
	top: 50px;
	z-index: 99;
	animation:dong2 2s ease 2s forwards;
}
@-webkit-keyframes dong2{
	from{
		left: 0;
		opacity: 0
	}
	to{
		left: 50%;
		opacity: 1
	}
}
.page1 .xix:after{
	content: "";
	width: 800px;
	height: 5px;
	background: #ffffff;
	position: absolute;
	right: 0;
	opacity: 0;
	margin-right: -870px;
	top: 50px;
	z-index: 99;
	animation:dong3 2s ease 2s forwards;
}
@-webkit-keyframes dong3{
	from{
		right: 0;
		opacity: 0
	}
	to{
		right: 50%;
		opacity: 1
	}
}
.page1 .xix .tou img{
	width: 100%;
	height: 100%;
}
.page1 .jie{
	width: 300px;
	height: 0px;
	overflow: hidden;
	position: absolute;
	color: #fff;
	font-size: 20px;
	text-align: center;
	left: 50%;
	line-height: 40px;
	margin-left: -150px;
	top: 45%;
	animation:dong5 2s ease 3s forwards;
}
@-webkit-keyframes dong5{
	from{
		height: 0;
		opacity: 0;
	}
	to{
		height: 300px;
		opacity: 1;
	}
}
.box .off{
	color: #fff;
	position: absolute;
	font-size: 30px;
	left: 50%;
	bottom: 100px;
	margin-left: -60px;
	cursor: pointer;
}
.box .off:hover{
	text-decoration: underline;
	color: skyblue;
}
.box .off::after{
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 30px;
	background: url(../images/clickMe_8a1da4a.png) no-repeat;
	transform: rotatey(180deg);
	left: -60px;
	top: 10px;
	animation:dong8 0.5s ease 0s infinite alternate;
}
.box .off::before{
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 30px;
	background: url(../images/clickMe_8a1da4a.png) no-repeat;
	right: -60px;
	top: 10px;
	animation:dong9 0.5s ease 0s infinite alternate;
}
@-webkit-keyframes dong8{
	from{
		left: -60px
	}
	to{
		left: -90px;
	}
}
@-webkit-keyframes dong9{
	from{
		right: -60px;
	}
	to{
		right: -90px;
	}
}
.bottom{
	width: 43px;
	height: 39px;
	background: url(../images/spr-btns.png) no-repeat -393px -117px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -21.5px;
	animation:dong10 0.5s ease 0s infinite alternate;
}
@-webkit-keyframes dong10{
	from{
		bottom: 10px;
	}
	to{
		bottom: 40px;
	}
}
.asd{
	position: absolute;
	bottom: 0;
	z-index: 10;
	left: 50%;
	width: 120px;
	opacity: 0;
	margin-left: -60px;
	animation:dong4 2s ease 3.5s forwards;
}
.nav{
	width: 100%;
	height: 170px;
	position: fixed;
	bottom: -200px;
	-webkit-transition: all 1s ease 2s;
	-o-transition: all 1s ease 2s;
	transition: all 1s ease 2s;
}
.nav li{
	width: 150px;
	overflow: hidden;
	height: 150px;
	border: 2px solid black;
	position: absolute;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
	line-height: 150px;
	cursor: pointer;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -75px;
	-webkit-transition: all 1s ease 3s;
	-o-transition: all 1s ease 3s;
	transition: all 1s ease 3s;
}
.nav li:nth-child(3){
	
	z-index: 10;
	transform: rotate(45deg);
	-webkit-transition: all 0.5s ease 3s;
	-o-transition: all 0.5s ease 3s;
	transition: all 0.5s ease 3;
}
.active li:nth-child(1){
	transform:translate(-600px,0);
}
.active li:nth-child(2){
	transform:translate(-300px,0);
}
.active li:nth-child(4){
	transform:translate(300px,0); 
}
.active li:nth-child(5){
	transform:translate(600px,0);
}
.nav .con{
	width: 130px;
	height: 130px;
	border:10px solid #ffffff;
	margin: 0px auto;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.nav .con img{
	width: 100%;
	height: 100%;
}
.nav li:nth-child(1)::before{
	content: "兴趣爱好";
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	background: rgba(3,3,3,0.5);
	left: 0;
	top: -100%;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.nav li:nth-child(2)::before{
	content: "学识共享";
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	background: rgba(3,3,3,0.5);
	left: 0;
	top: -100%;	
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.nav li:nth-child(4)::before{
	content: "学习推荐";
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	background: rgba(3,3,3,0.5);
	left: 0;
	top: -100%;	
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.nav li:nth-child(5)::before{
	content: "关于自己";
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	background: rgba(3,3,3,0.5);
	left: 0;
	top: -100%;
	-webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.nav #of .con{
	font-size: 70px;
	line-height: 130px;
	text-align: center;
	background: #666666; 
}
.nav li:hover::before{
	top:0;
}
.content{
	width: 1500px;
	height: 700px;
	background: orange;
	display: none;
	position: fixed;
	border-radius: 20px;
	left: 0;
	top: 10px;
	left: 50%;
	margin-left: -750px;
}
.content::after{
	content: "";
	display: block;
	border: 30px solid transparent;
	border-top: 30px solid orange;
	position: absolute;
	bottom: -50px;
}
.content:nth-child(1)::after{
	left: 120px;
}
.content:nth-child(2)::after{
	left: 420px;
}
.content:nth-child(3)::after{
	right: 420px;
}
.content:nth-child(4)::after{
	right: 120px;
}
.content h1{
	text-align: center;
	line-height: 50px;
	font-size: 30px;
}
.content .main{
	margin: 0 20px;
	height: 620px;
	background: #ffffff;
	overflow: scroll;
}
.content .main::-webkit-scrollbar{
	width: 0;
	height: 0;
}
.main1 h2{
	margin: 20px 0 0 25px;
	line-height: 25px;
	font-size: 20px;
	color: orange;
}
.main1 h2 img{
	width: 25px;
	height: 25px;
}
.main1 ul{
	margin: 10px;
}
.main1 ul li{
	width: 278px;
	height: 380px;
	float: left;
	margin: 5px;
	background: #fff;
	text-align: center;
	line-height: 16px;
	font-size: 20px;
}
.main1 ul li div{
	margin: 10px;
	height: 340px;
	overflow: hidden;
	background: #ffffff;
}
.main1 ul li div img{
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.main1 ul li div:hover img{
	transform: scale(1.1);
}
.main1 ul li p{
	line-height: 
}
.main1 ul li p:hover{
	color: red;
	text-decoration: underline;
}
.main3 .wang{
	margin: 10px 20px 20px;
}
.main3 .wang li{
	width: 340px;
	height: 300px;
	border: 2px solid #666666;
	float: left;
	text-align: center;
	margin: 5px;
	font-size: 18px;
	background: yellow;
}
.main3 .wang li div{
	width: 300px;
	height: 200px;
	overflow: hidden;
	background: #fff;
	border: 1px solid black;
	margin: 20px auto 0;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
.main3 .wang li div img{
	-webkit-transition: all 0.5;
	-o-transition: all 0.5;
	transition: all 0.5;
}
.main3 .wang li div:hover img{
	transform: scale(1.1);
}
.main3 .wang li h3{
	margin-top: 10px;
}
.main3 .wang li a:hover{
	color: red;
}
.main3 .wang li p{
	margin: 0 20px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.main3 .wang li a:hover p{
	text-decoration: underline;
}
.main3 .wang li .tu{
	display: block;
    width: 370px;
    height: 90px;
    background: transparent url(../images/bg.png) 0 -150px no-repeat;
}
.main3 h2{
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	color: orange;
}
.main3 .text{
	font-size: 20px;
	line-height: 50px;
	margin: 10px 20px;
	overflow: hidden;
}
.main3 .text li{
	float: left;
	width: 600px;
	margin: 0 50px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.main3 .text li a:hover{
	color: red;
	text-decoration: underline;
}
.main4 h2{
	font-size: 30px;
	text-align: center;
	line-height: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.main4 p{
	font-size: 20px;
	text-indent: 40px;
	margin: 0 200px;
}
.main4 .lian{
	margin: 30px 200px;
	font-size: 20px;
	
}
.main4 .lian h3{
	color: orange;
}
.main4 .lian ul{
	width: 100%;
	display: flex;
	text-align: center;
}
.main4 .lian ul li{
	flex:auto;
}
.main4 .ming p{
	margin: 0 200px;
	text-align: center;
	line-height: 50px;
}
.main2 ul{
	margin: 10px;
}
.main2 ul li{
	width: 340px;
	height: 200px;
	background: -webkit-linear-gradient(top,red,#fff,yellow);
	text-align: center;
	float: left;
	margin: 10px;
	line-height: 200px;
	font-size: 50px;
	color: #ffffff;
}
.main2 ul li a{
	display: inline-block;
	color: blue;
	width: 100%;
	height: 100%;
}





