html,body{
	width: 100%;
	height: 100%;
	background: #333333;
	font-family: "KaiTi";
}
.box{
	width: 100%;
	height: 100%;
	position: relative;
	perspective:1000px;
}
.box .bg{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.box .bg .page{
	width: 100%;
	height: 100%;
	transform-origin:0 0;
	-webkit-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
	position: relative;
	/*transform: rotatex(-30deg);*/
}

.page1 .tlt{
	position: absolute;
	z-index: 9;
	color: #fff;
	text-align: center;
	width: 100%;
	font-size: 50px;
	top: 10%;
	letter-spacing: 10px;
	opacity: 1;
	animation:dong1 2s ease 0s;
}
@-webkit-keyframes dong1{
	from{
		letter-spacing: 100px;
		opacity: 0;
	}
	to{
		letter-spacing: 10px;
		opacity: 1;
	}
}
.page1 .xix{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 30%;
}
.page1 .xix .tou{
	width: 100px;
	height: 100px;
	opacity: 0;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	animation:dong4 2s ease 3s forwards;
}
@-webkit-keyframes dong4{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.page1 .xix:before{
	content: "";
	width: 800px;
	height: 5px;
	background: #ffffff;
	position: absolute;
	left: 0;
	opacity: 0;
	margin-left: -870px;
	top: 50px;
	z-index: 99;
	animation:dong2 2s ease 2s forwards;
}
@-webkit-keyframes dong2{
	from{
		left: 0;
		opacity: 0
	}
	to{
		left: 50%;
		opacity: 1
	}
}
.page1 .xix:after{
	content: "";
	width: 800px;
	height: 5px;
	background: #ffffff;
	position: absolute;
	right: 0;
	opacity: 0;
	margin-right: -870px;
	top: 50px;
	z-index: 99;
	animation:dong3 2s ease 2s forwards;
}
@-webkit-keyframes dong3{
	from{
		right: 0;
		opacity: 0
	}
	to{
		right: 50%;
		opacity: 1
	}
}
.page1 .xix .tou img{
	width: 100%;
	height: 100%;
}
.page1 .jie{
	width: 300px;
	height: 0px;
	overflow: hidden;
	position: absolute;
	color: #fff;
	font-size: 20px;
	text-align: center;
	left: 50%;
	line-height: 40px;
	margin-left: -150px;
	top: 45%;
	animation:dong5 2s ease 3s forwards;
}
@-webkit-keyframes dong5{
	from{
		height: 0;
		opacity: 0;
	}
	to{
		height: 300px;
		opacity: 1;
	}
}
.box .off{
	color: #fff;
	position: absolute;
	font-size: 30px;
	left: 50%;
	bottom: 100px;
	margin-left: -60px;
	cursor: pointer;
}
.box .off:hover{
	text-decoration: underline;
	color: skyblue;
}
.box .off::after{
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 30px;
	background: url(../images/clickMe_8a1da4a.png) no-repeat;
	transform: rotatey(180deg);
	left: -60px;
	top: 10px;
	animation:dong8 0.5s ease 0s infinite alternate;
}
.box .off::before{
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 30px;
	background: url(../images/clickMe_8a1da4a.png) no-repeat;
	right: -60px;
	top: 10px;
	animation:dong9 0.5s ease 0s infinite alternate;
}
@-webkit-keyframes dong8{
	from{
		left: -60px
	}
	to{
		left: -90px;
	}
}
@-webkit-keyframes dong9{
	from{
		right: -60px;
	}
	to{
		right: -90px;
	}
}
.bottom{
	width: 43px;
	height: 39px;
	background: url(../images/spr-btns.png) no-repeat -393px -117px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -21.5px;
	animation:dong10 0.5s ease 0s infinite alternate;
}
@-webkit-keyframes dong10{
	from{
		bottom: 10px;
	}
	to{
		bottom: 40px;
	}
}
.asd{
	position: absolute;
	bottom: 0;
	z-index: 10;
	left: 50%;
	width: 120px;
	opacity: 0;
	margin-left: -60px;
	animation:dong4 2s ease 3.5s forwards;
}
.nav{
	width: 100%;
	height: 200px;
	position: fixed;
	bottom: -200px;
	-webkit-transition: all 1s ease 2s;
	-o-transition: all 1s ease 2s;
	transition: all 1s ease 2s;
}
.nav li{
	width: 150px;
	height: 150px;
	border: 2px solid black;
	position: absolute;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	line-height: 150px;
	top: 50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -75px;
	-webkit-transition: all 1s ease 3s;
	-o-transition: all 1s ease 3s;
	transition: all 1s ease 3s;
}
.nav li:nth-child(3){
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin-left: -50px;
	margin-top: -75px;
	font-size: 70px;
	background: gray;
	z-index: 10;
	transform: rotate(45deg);
	-webkit-transition: all 0.5s ease 3s;
	-o-transition: all 0.5s ease 3s;
	transition: all 0.5s ease 3;
}
.active li:nth-child(1){
	transform:translate(600px,0);
}
.active li:nth-child(2){
	transform:translate(300px,0);
}
.active li:nth-child(4){
	transform:translate(-300px,0); 
}
.active li:nth-child(5){
	transform:translate(-600px,0);
}


